#nav-bar{
    background: #D6E4E5 !important;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#logo img{
    width: 50px;
    margin-right: 50px;
}
#clr{
    color: #497174 !important;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}
#clr:hover{
    color: #EB6440 !important;
}
#cart{
    color: #497174 !important;
    transition: 0.2s ease-in-out;
    margin-top: -2px;
    font-weight: 600;
    display: flex;
    position: relative;
}
#cart svg{
    width: 35px
}
#cart:hover{
    color: #EB6440 !important;
}
#badge{
    position: absolute;
    background: #EB6440 !important;
    color: #fff !important;
    border-radius: 100%;
    font-size: 14px;
    padding: 7px;
    font-weight: 600;
    margin-left: 5px;
    top: -10px;
    right: -10px;
}
.navbar-toggler-icon{
    color: #EB6440 !important;
}