#nav-bar{
    background: #D6E4E5 !important;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
}
#logo img{
    width: 50px;
    margin-right: 50px;
}
#clr{
    color: #497174 !important;
    font-size: 18px;
    font-weight: 500;
    transition: 0.2s ease-in-out;
    text-decoration: none;
    margin-right: 20px;
    transition: 0.2s ease-in-out;
}
#clr:hover{
    color: #EB6440 !important;
}
